<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphabetastudios.codeule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.alphabetastudios.codeule.IntroSliderScreen.IntroSliderActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <activity
            android:name="com.alphabetastudios.codeule.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.alphabetastudios.codeule.Popups.HRContestDetails"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="com.alphabetastudios.codeule.Popups.HEContestDetails"
            android:theme="@style/PopupTheme" />

        <receiver
            android:name="com.alphabetastudios.codeule.Notifications.NotificationPublisher"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.alphabetastudios.codeule.Popups.CCContestDetails"
            android:theme="@style/PopupTheme" />
        <activity android:name="com.alphabetastudios.codeule.Settings.SettingsActivity" />

    </application>

</manifest>